<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <title>Youtube Video Downloader</title>
</head>

<body>

    <div class="container">
        <div class="dash-form" id="dash">

            <form id="form" class="form">
                <input type="url" id="url" class="input" autocomplete="off" placeholder="Enter Youtube Video URL" required>
                <button type="submit" class="btn">Convert</button>
            </form>

        </div>
    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>