<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <title>Youtube Video Downloader</title>
</head>

<body>

    <div class="container">
        <div class="dash-form" id="dash">

            <form id="form" class="form">
                <input type="url" id="url" class="input" autocomplete="off" placeholder="Enter Youtube Video URL" required>
                <button type="submit" class="btn">Convert</button>
            </form>


            <!-- <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M222.7 32.15C227.7 49.08 218.1 66.9 201.1 71.94C121.8 95.55 64 169.1 64 255.1C64 362 149.1 447.1 256 447.1C362 447.1 448 362 448 255.1C448 169.1 390.2 95.55 310.9 71.94C293.9 66.9 284.3 49.08 289.3 32.15C294.4 15.21 312.2 5.562 329.1 10.6C434.9 42.07 512 139.1 512 255.1C512 397.4 397.4 511.1 256 511.1C114.6 511.1 0 397.4 0 255.1C0 139.1 77.15 42.07 182.9 10.6C199.8 5.562 217.6 15.21 222.7 32.15V32.15z"/></svg> -->


            <!-- <div class="selectForm">
                <img src="https://i.ytimg.com/vi/pYdaTbpYYyA/hqdefault.jpg" alt="" class="thumbnail-image">

                <p class="title">flaks</p>

                <div>
                    <select id="select" class="select">
                        <option value="1">Option 1</option>
                    </select>
                    <button class="btn">Get Link</button>
                </div>
            </div> -->
<!-- 
            <div class="getLink">
                <input type="url" id="downloadURL" class="input" readonly placeholder="Your Download URL"
                    value="https://pritam.com">
                    <div class="btnBox">
                    <button class="btn" id="copyBtn" onclick="copyURL(this)">Copy</button>
                    <a target="_blank" href="#" class="btn downloadLink">Download Now</a>
                    <button class="btn" onclick="continueBrowse()">Continue</button>
                </div>
            </div> -->


        </div>
    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>